<div class="container d-flex flex-column align-items-center mt-5">
    <div class="w-75">
        <div class="header text-center">
            <h2>게시글 상세보기</h2>
        </div>
        <div class="container text-start mt-3">
            <div class="row post-meta">
                <div class="col-md-8 d-flex align-items-center justify-content-center" style="height: 100px;">
                    <h5><i class="fas fa-heading icon"></i>제목: <%= post.title %></h5>
                </div>
                <div class="col-6 col-md-4 d-flex flex-column align-items-center justify-content-center" style="height: 100px;">
                    <div><i class="fas fa-user icon"></i>작성자: <%= post.author %></div>
                    <div><i class="fas fa-eye icon"></i>조회수: <%= post.hits %></div>
                    <div><i class="fas fa-calendar-alt icon"></i>작성일: <%= formattedDate %></div>
                </div>
            </div>
            <br>
            <div class="row post-body">
                <div class="col-12">
                    <p><%= post.body %></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>